@import '../partials/_variables.scss';

// buttons
@mixin square-button {
  border: none;
  border-radius: 2px;
  padding: 5px 10px;
  background-color: $seaweed;
  color: $white;
  font-size: 1em;
}

@mixin submit-button {
  border-radius: 10px;
  background-image: linear-gradient(to right, #fbc2eb 0%, #a6c1ee 51%, #fbc2eb 100%);
  color: $white;
  padding: 5px 10px;
  transition: background-position .5s;
}

@mixin submit-button-hover {
  background-position: right center;
  transition: background-position .5s;
}