$main-background-color: #DDDDF0;
$form-background-color: #F8F8F9;

$second-lightest-grey: #D5D5D6;
$font-text-color-grey: #A3A3A6;
$font-heading-color-grey:#494949;
$greenish-grey: #8D887F;
$primary-blue: #6D87F4;
$primary-mauve: #CFAAD4;


