* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.App {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.page-container {
  display: flex;
  flex-grow: 1;
  padding: 15px;
}

.page-container .nav-bar {
  /* border: 1px solid red; */
  min-width: 200px;
  width: 20%;
  align-items: stretch;
  padding: 15px 10px 10px 15px;
}
.nav-bar a:hover {
  color: pink;
}

.page-container .page-content {
  /* border: 1px solid blue; */
  align-items: stretch;
  width: 80%;
  padding: 15px;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: bisque;
  color: #3e4144; }

.header-bar {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-transform: uppercase;
  background-color: lightcyan;
  width: 97%;
  border-bottom: 1px solid #E5E5E5; }

.nav-bar {
  display: flex;
  flex-direction: column;
  background-color: aquamarine; }

button {
  font-family: 'Montserrat', sans-serif;
  background-color: lightgoldenrodyellow;
  border: 1px solid #24315e;
  color: #3e4144;
  padding: 5px;
  letter-spacing: 1px; }

button:hover {
  background-color: lightseagreen;
  color: bisque;
  transition: 0.3s ease; }


ul {
  list-style: none;
}

.category-name {
  text-transform: uppercase;
}
